<html>
    <head>
        <title>Ola's blog</title>
    </head>
    <body>
        <h1>OUÇA RECIFE</h1>
        <h2>Mergulhe nas histórias dessa cidade fascinante!</h2>
        <p>Olá, somos o <strong>Ouça Recife!</strong>, reunimos histórias massas, contadas por idosos daqui, da nossa cidade, e que vocês não devem conhecer? <br>Que tal descobrir essa cidade mais a fundo?! Vamo nessa?!</p>
        <a href='https://djangogirls.org'>link</a>
        <ul><li>Veja os locais!</li>
        <li>Nos conte uma história você também!</li>
        <p><em>Obrigade!!</em></p>
    </body> 
</html>